.secrests
.env
.terraform
**/.terraform
.terraform.lock*
terraform.tfstate*
run.sh
**/run.sh
**/env.tfvars
**/*.tfvars
**.terraform.tfstate.lock.info
errors.log
**.pem
docker/nginx/letsencrypt/live/
**.tar.gz